$bodyBgcolor: #fafafa; 
$primaryColor: #444444;

$gridBg: #e0e0e0;
$gridBorder: #0091EA;
$gridColor: #a0a0a0;
$gridBoxShadow: 0px 1px 1px 1px rgba(255,255,255,0.7);

$white: #ffffff;
$black: #000000;

$jsBg: #FFCA28;
$jsColor: #444444;
$jsLabel: #666666;

$cssBg: #0091EA;
$cssColor: #ffffff;
$cssLabel: #e0e0e0;

$htmlBg: #FF5722;
$htmlColor: #ffffff;
$htmlLabel: #e0e0e0;